.container{
    margin-top: 9em;
}

.sidebar{
    position: relative;
    width: 80%;
}

.personalDataContainer{
    margin: 0 10%;
    margin-top: 3em;
  
}

.personalDataContainer h1{
    margin-bottom: 1em;
}

.imageContainer{
    margin-bottom: 2em;
}

.imageContainer img{
    height: 8rem;
    border-radius: 1rem;
    /* width: 100%; */
    object-fit: cover;
    display: block;
    margin: 1rem 0;
}

.imageContainer label{
    display: block;
}



.submitBtn{
    width: 100%;
    margin: 2rem 0;
    /* w-full mt-12 */
    background-color: #536DFE;
    padding: 1em;
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 200ms;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.submitBtn:hover{
    background-color: #2e49e1;
    font-weight: 600;
}

.errorMessage{
    display: block;
    color: #dd4a4a;
    margin-bottom: 2em;
}

.successMessage{
    display: block;
    color: #4add98;
    margin-bottom: 2em;
}


@media only screen and (min-width: 600px) {
    .container{
        display: flex;
        gap: 2em;
        margin-top: 5em;
    }

    .sidebar{
        width: 25%;
    }

    .personalDataContainer .name{
        display: flex;
        gap: 4em;
    }

    .personalDataContainer{
        margin: 0;
        margin-top: 3em;
        width: 40%;
    }
}