.label{
    display: block;
    margin-bottom: 0.5em;
}

.passwordContainer{
    position: relative;
}

.toggleVisibilityBtn{
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    right: 5px;
    top: 0.4rem;
}

.toggleVisibilityBtn i{
    font-size: large;
}

