.primaryBtn{
    background-color: #536DFE;
    padding: 0.5em 1em;
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 200ms;
}

.primaryBtn:hover{
    background-color: #2e49e1;
    font-weight: 600;
}