.headingToggle{
    
}

.headingToggle hr{
    margin-bottom: 2rem;
}

.headingToggle div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingToggle div h3{
    margin-bottom: 0;
}


.toggleOpen{
    display: block;
}

.toggleClosed{
    display: none;
}