.headingToggle{
    
}

.headingToggle hr{
    margin-bottom: 2rem;
}

.headingToggle div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingToggle div h3{
    margin: 0;
}

.contentToggle{
    margin-bottom: 2rem;
}
