h1, h2, h3, h4, h5, h6{
  color: rgb(40, 40, 40);
}

p, label, span, div, i{
  color: rgb(95, 95, 95);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body{
  background-color: #F8F8F8;
}