.container{
    margin-top: 9em;
}

.sidebar{
    position: relative;
    width: 80%;
}

.favoritesContainer{
    margin: 0 10%;
    margin-top: 3em;
  
}

.favoritesContainer h1{
    margin-bottom: 1em;
}

.primaryBtn{
    background-color: #536DFE;
    padding: 0.5em 1em;
    color: white;
    border-radius: 0.5rem;
    border: none;
    transition: 150ms;
}

.justifyBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primaryBtn:hover{
    background-color: #2e49e1;
    font-weight: 600;
}



.whiteContainer{
    background-color: white;
    padding: 2em;
    border-radius: 1rem;
    margin-bottom: 6em;
}

@media only screen and (min-width: 600px) {
    .container{
        display: flex;
        gap: 2em;
        margin-top: 5em;
    }

    .sidebar{
        width: 25%;
    }

    .favoritesContainer{
        margin: 0;
        margin-top: 3em;
    }

    .whiteContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4em;
    }
}