.container{
    margin-top: 9em;
}

.sidebar{
    position: relative;
    width: 80%;
}

.favoritesContainer{
    margin: 0 10%;
    margin-top: 3em;
  
}

.favoritesContainer h1{
    margin-bottom: 1em;
}

.primaryBtn{
    background-color: #536DFE;
    padding: 1em 2em;
    color: white;
    border-radius: 0.5rem;
    border: none;
    transition: 150ms;
}

.justifyBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
}

.primaryBtn:hover{
    background-color: #2e49e1;
    font-weight: 600;
}

.secondaryBtn{
    padding: 0.5em 1em;
    color: #2e49e1;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 200ms;
    border: 1px solid #2e49e1;
    cursor: pointer;
    background: none;
}

.secondaryBtn:hover{
    background-color: #dedefe;
    font-weight: 600;
}



.whiteContainer{
    background-color: white;
    padding: 2em;
    border-radius: 1rem;
    margin-bottom: 6em;
}

.whiteContainerWithoutGrid .imageContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 2em;
}

.whiteContainerWithoutGrid .imageContainer img{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

}

.whiteContainerWithoutGrid{
    background-color: white;
    padding: 2em;
    border-radius: 1rem;
    margin-bottom: 6em;
}

.whiteContainerWithoutGrid label{
    display: block;
    margin-bottom: 1rem;
}



.whiteContainer textarea{
    display: block;
    padding: 1em;
    background-color: #F1F1F1;
    border: 1px solid #E0E0E0;
    outline: none;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0 auto;
    min-height: 200px;
    margin-top: 2em;
    min-width: 500px;
}

.whiteContainer textarea{
    outline: 2px solid #c4c4c4;
}


.btnPosition{
    display: flex;
    justify-content: end;
    margin-top: 2em;
    margin-bottom: 5em;
}

.btnPosition div{
    display: flex;
    gap: 2em;
}

.greenDot{
    display: inline-block;
    background-color: #83EFC0;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    margin-right: 1em;
}

.redDot{
    margin-right: 1em;
    display: inline-block;
    background-color: #ef8383;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}


@media only screen and (min-width: 600px) {
    .container{
        display: flex;
        gap: 2em;
        margin-top: 5em;
    }

    .sidebar{
        width: 25%;
    }

    .favoritesContainer{
        margin: 0;
        margin-top: 3em;
    }

    .whiteContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }


    .whiteContainerWithoutGrid .imageContainer{
        grid-template-columns: repeat(4, 1fr);
    }
}