.secondaryBtn{
    padding: 0.5em 1em;
    color: #2e49e1;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 200ms;
    border: 1px solid #2e49e1;
}

.secondaryBtn:hover{
    background-color: #dedefe;
    font-weight: 600;
}