.imgGallery{
    border-radius: 2em;
    /* min-height: 400px; */
    position: relative;
    width: 100%;
    background-color: #3a3b3eda;
}

.overlayLeft, .overlayRight{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8em;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35,35,35);
}

.overlayLeft button, .overlayRight button{
  background: none;
  border: none;
}

.overlayLeft button i, .overlayRight button i{
  font-size: x-large;
  color: white;
}

.overlayRight{
  right: 0;
  background: linear-gradient(-90deg, rgb(22, 22, 22, 1) 0%, rgba(22,22,22,0) 100%);
  border-radius: 0 1em 1em 0;
}

.overlayLeft{
  left: 0;
  background: linear-gradient(90deg, rgb(22, 22, 22, 1) 0%, rgba(22,22,22,0) 100%);
  border-radius: 1em 0 0 1em;
}

.hidden{
    display: none;
}

.imgGallery img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 1em;
    height: 45vh;
}

@media only screen and (max-width: 600px) {
  .img-gallery{
    width: 65%;
  }
}